<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="nameVal"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mobile</ion-label>
    <ion-input [(ngModel)]="mobileVal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Oxygen</ion-label>
    <ion-input [(ngModel)]="oxygenVal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Temprature</ion-label>
    <ion-input [(ngModel)]="tempratureVal"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Are you vaccineted ?</ion-label>
    <ion-input [(ngModel)]="vaccinatedVal"></ion-input>
  </ion-item>

  <ion-button color="dark" expand="block" (click)="onUpdate()">
    Update
  </ion-button>
</ion-content>
